<template id="nurserys">
  <div>
    <div class="card">
      <form class="card-body">
        <div class="form-group">
          <label>行政區</label>
          <select class="form-control" v-model="district">
            <option v-for="dist in districts">{{dist}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="card mt-2" style="height: 70vh;">
      <div id="accordion" class="card-body" style="max-height: 100%; overflow: scroll;">
        <nursery v-for="(nursery, index) in districtNurserys" :key="nursery.id" v-bind="nursery" v-on:click="setPicked(index)"></nursery>
      </div>
    </div>
  </div>
</template>
