body {
	width: 1200px;
	margin: 0 auto;
	
/*
  background-image: url(../images/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
*/

	background-color: rgb(195, 72, 91);
}

a {
	text-decoration: none;
	font-family: cursive;
}

.header {
	height: 97px;
	border-bottom: 3px solid #f0a44c;
}

.header-title {
	font-size: 30px;
	color: #fafa42;
	margin: 0 auto;
	letter-spacing: 4px;
	width: 400px;
	height: 60px;
	position: relative;
	top: 20px;
	padding-top: 10px;
	/*  background-color: cornflowerblue;*/
	border-radius: 10px;
}

.wrap {
	padding: 10px;
	height: 580px;
}

.left-container {
	float: left;
	height: 100%;
	width: 580px;
	line-height: 20px;
	letter-spacing: 3px;
}

.nursery {
	background-color: #d3d377;
	border-radius: 4px;
	width: 164px;
	height: 200px;
	margin-top: 3px;
	margin-left: 1.5px;
	margin-right: 1.5px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	color: #1d66a7;
}

.nursery:hover {
	color: #016eea;
	background-color: #e6e635;
}

.right-container {
	float: left;
	height: 100%;
	width: 580px;
	margin-left: 20px;
}

#vmap {
	height: 560px;
	padding: 10px;
	background-color: black;
}

#map {
	height: 100%;
}

.footer {
	height: 40px;
	color: brown;
	font-family: cursive;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.select-block {
	height: 60px;
	padding: 10px;
	background-color: #447cba;
	border-radius: 4px;
}

.nursery p {
	font-size: 14px;
	text-align: center;
	line-height: 15px;
}

.nursery-block {
	height: 500px;
	overflow: auto;
}

.area-select {
	background-color: #79ade6;
	border:0px;
	border-radius: 4px;
	width: 120px;
	height: 30px;
	line-height: 10px;
	font-size: 20px;
}


.select-block label {
	font-size: 20px;
}

.nursery td {
	font-size: 14px;
}
